.notes-container{
    position: relative;
}
.note-container{
    border: 1px solid black;
    display: inline-flex;
    padding: 1.2rem;
    background-color: goldenrod;
    min-width: 150px;
    position: absolute;
}
